.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  height: 90vh;
  padding: 8rem 1rem;
}

.projects_photos {
  height: 200px;
  margin: 5px;
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
}

.project_container {
  display: flex;
  flex-direction: column;
}
