.contactUs_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12em 0px 0px 0px;
  margin: 0px 5em 0px 5em;
  height: 90vh;
}

.contactUs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 1rem;
  column-gap: 1rem;
  box-shadow: 6px -6px 20px #00000040;
  background-color: #e0e0e0;
  border-radius: 6px;
  margin: 1rem;
}

.contactUs article {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 1600px) {
  .contactUs_container {
    margin: 0 auto 5em auto;
  }

  .contactUs {
    width: 90%;
    margin: 50px 100px;
  }
}
