.about {
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    'narrative bucket';
  height: 75vh;
}

.about_article {
  grid-area: narrative;
  grid-template-columns: 2fr 1fr;
  margin: 2em;
}

.about_article_bucket_list {
  background-color: #C8AD96;
  border-radius: 6px;
  box-shadow: 10px 0px 20px 0px #00000040;
  font-size: 1.25em;
  grid-area: bucket;
  line-height: 2;
  padding: 2em;
}

.about_article_text {
  background-color: #C8AD96;
  border-radius: 6px;
  box-shadow: 10px 0px 20px 0px #00000040;
  font-size: 1.25em;
  line-height: 2;
  padding: 2em;
}

.bucket_list_title {
  border-bottom: 1px solid black;
  font-size: 1.2em;
  margin-bottom: 10px;
}
