.section_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5em 0;
}

.banner {
  background-image: url('../../assets/Venado_front.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 85vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 120px;
  width: 100vw;
}

.banner * {
  margin: 0.5em 0;
}

.logo_text_background {
  background-image: url('../../assets/translucent.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 15px 0px;
  position: relative;
  width: 75%;
}

.article_container {
  width: 33%;
  border-radius: 6px;
  background-color: #c8ad96;
  box-shadow: 10px 0px 20px 0px #00000040;
  padding: 1.5em;
}

.section_img {
  border-radius: 16px;
  background-color: #c8ad96;
  box-shadow: 10px 0px 20px 0px #00000040;
}

.article_header {
  margin: 0;
  word-spacing: 2px;
}

.article_text {
  letter-spacing: 1px;
  line-height: 2;
  font-size: 1.25em;
}

#home_center_main {
  background-color: #e0e0e0;
  box-shadow: 10px 0px 20px 0px #00000040;
  margin: 0 0 5em 0;
}

.section_contact_form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
}

#rrr_img {
  width: 40%;
}

#meet_owner_img {
  width: 30%;
}

@media screen and (max-width: 1850px) {
  #timberline_text_only {
    width: 1000px;
  }
}

@media screen and (max-width: 1400px) {
  #timberline_text_only {
    width: 800px;
  }
}

@media screen and (max-width: 1100px) {
  #timberline_text_only {
    width: 600px;
  }
}
