.about {
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'about about'
    'narrative bucket';
  height: auto;
  text-align: 'left';
}

#about_article {
  grid-area: about;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  grid-gap: 2em;
  padding: 2em;
  background-color: #e0e0e0;
  box-shadow: 10px 0px 20px 0px #00000040;
  margin: 0 0 5em 0;
}

#about_banner {
  background-image: url('../../assets/Purple_Aster.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 25rem;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 120px;
}

#about_banner h2 {
  text-transform: capitalize;
  color: white;
  font-size: 2em;
}

.about_article {
  grid-area: narrative;
  grid-template-columns: 2fr 1fr;
  margin: 2em;
}

.about_article_text {
  background-color: #c8ad96;
  border-radius: 6px;
  box-shadow: 10px 0px 20px 0px #00000040;
  font-size: 1.25em;
  line-height: 2;
  padding: 2em;
}

.about_article_bucket_list {
  background-color: #c8ad96;
  border-radius: 6px;
  box-shadow: 10px 0px 20px 0px #00000040;
  font-size: 1.25em;
  grid-area: bucket;
  line-height: 2;
  padding: 2em;
}

.bucket_list_title {
  border-bottom: 1px solid black;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.bucket_list_ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.history {
  height: 75vh;
  display: flex;
  align-items: center;
}

.about_main_image {
  width: 100%;
  border-radius: 6px;
  box-shadow: 10px 0px 20px 0px #00000040;
}
